<div class="app-login app-login--business-mode">
    <div class="app-login__col">
        <h1 class="app-login__title">Regístrate y <br><span>únete al</span><br>cambio</h1>
        <p class="app-login__sub">Empresas como la tuya contribuyen a la ayuda de muchas causas sociales en Colombia. ¡Gracias! </p>
        <p class="app-login--help no-border mt-3 pt-2">
            ¿Eres persona natural? 
            <a href="#" class="white-link white-link--border">Regístrate aquí.</a>
        </p>
        <p>
            ¿Ya tienes una cuenta? 
            <a routerLink="/login" class="white-link white-link--border">Inicia sesión.</a>
        </p>
    </div>
    <div class="app-login__col">
        <div class="app-login--form blur">
            <div class="row">
                <div class="col-sm">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre empresa</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo electrónico</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Departamento</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Atlántico</option>
                              <option>Antioquia</option>
                              <option>Cundinamarca</option>
                              <option>Valle del Cauca</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">NIT</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Número de contacto</label>
                            <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirma tu contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Municipio</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Opción 1</option>
                              <option>Opción 2</option>
                              <option>Opción 3</option>
                              <option>Opción 4</option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="input-group mb-3 col-attach">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01"><img src="../assets/img/icon-attachment.svg" alt=""></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Adjunte su rut*</label>
                    </div>
                </div>
                <div class="col col-terms">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones</label>
                    <small id="emailHelp" class="form-text text-muted"><a href="#" class="white-link white-link--border">Ver Términos y Condiciones.</a></small>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-block bgGreen">Registrarme</button>
                </div>
            </div>
        </div>
    </div>
</div>
