<div class="app-login app-login--business-mode">
    <div class="app-login__col">
        <h1 class="app-login__title">Regístrate y <br><span>únete al</span><br>cambio</h1>
        <p class="app-login__sub">Empresas como la tuya contribuyen a la ayuda de muchas causas sociales en Colombia. ¡Gracias! </p>
        <p>
            ¿Ya tienes una cuenta? 
            <a routerLink="/login" class="white-link white-link--border">Inicia sesión.</a>
        </p>
    </div>
    <div class="app-login__col">
        <div class="app-login--form blur">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nombre o razón social</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nit">NIT</label>
                            <input type="number" class="form-control" (paste)="onPaste($event)" (keypress)="validateCharacter($event)" id="nit" name="nit" min="0" [(ngModel)]="user.nit"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dv">DV</label>
                            <input type="number" class="form-control" (keypress)="validateCharacter($event)" id="dv" name="dv" min="0" [(ngModel)]="user.dv"/>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"/>
                        </div>
                        <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <p-dropdown 
                                [options]="departments"
                                [filter]="true"
                                [showClear]="true"
                                [(ngModel)]="user.department"
                                optionLabel="name"
                                (onChange)="changeDepartments($event.value.code)"
                                name="departments"
                                placeholder="Selecciona un departamento"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="col">
                        
                        <div class="form-group">
                            <label for="number">Número de contacto</label>
                            <input type="number" class="form-control" id="number" name="number" min="0" [(ngModel)]="user.tel">
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword">Confirma tu contraseña</label>
                            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword">
                        </div>
                        <div class="form-group" *ngIf="nMunicipios">
                            <label for="municipio">Municipio</label>
                            <p-dropdown
                                [options]="municipios"
                                [filter]="true"
                                [showClear]="true"
                                [(ngModel)]="user.municipio"
                                optionLabel="name"
                                name="municipios"
                                placeholder="Selecciona un municipio"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group d-flex" style="flex-direction: column;">
                            <label for="rut">Adjunte su rut*</label>
                            <input type="file" accept="image/*, application/pdf" class="form-file-input" id="rut" name="rut" (change)="onPhotoSelected($event)">
                          </div>
                    </div>
                    <div class="col col-terms">
                        <input type="checkbox" class="form-check-input" name="terms" id="terms" name="terms" [(ngModel)]="terms" (change)="changeTerms($event)">
                        <label class="form-check-label" for="terms">Acepto los términos y condiciones</label>
                        <small id="emailHelp" class="form-text text-muted"><a href="https://www.fundacionpuntosverdes.com/terminos-y-condiciones/" target="_BLANK" class="white-link white-link--border">Ver Términos y Condiciones.</a></small>
                    </div>
                    <div class="col">
                        <button *ngIf="terms" type="submit" class="btn btn-block bgGreen" (click)="onRegister()">Registrarme</button>
                        <button *ngIf="!terms" type="submit" class="btn btn-block bgGreen" disabled>Registrarme</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
