<div class="app-login app-login--business-mode">
    <div class="app-login__col">
        <h1 class="app-login__title">Regístrate y <br><span>únete al</span><br>cambio</h1>
        <p class="app-login__sub">Empresas como la tuya contribuyen a la ayuda de muchas causas sociales en Colombia. ¡Gracias! </p>
        <p class="app-login--help no-border mt-3 pt-2">
            ¿Eres persona natural? 
            <a href="#" class="white-link white-link--border">Regístrate aquí.</a>
        </p>
        <p>
            ¿Ya tienes una cuenta? 
            <a routerLink="/login" class="white-link white-link--border">Inicia sesión.</a>
        </p>
    </div>
    <div class="app-login__col">
        <div class="app-login--form blur">
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="nombre">Nombre empresa</label>
                            <input type="text" class="form-control" formControlName="nombre" id="nombre" />
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" formControlName="email" id="email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" formControlName="password" id="password" />
                        </div>
                        <div class="form-group">
                            <label for="departments">Departamento</label>
                            <select class="form-control" formControlName="departments" id="departments">
                                <option>Atlántico</option>
                                <option>Antioquia</option>
                                <option>Cundinamarca</option>
                                <option>Valle del Cauca</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="nit">NIT</label>
                            <input type="email" class="form-control" id="nit" formControlName="nit" />
                        </div>
                        <div class="form-group">
                            <label for="number">Número de contacto</label>
                            <input type="tel" class="form-control" id="number" formControlName="tel">
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword">Confirma tu contraseña</label>
                            <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword">
                        </div>
                        <div class="form-group">
                            <label for="city">Municipio</label>
                            <select class="form-control" id="city" formControlName="city">
                                <option>Opción 1</option>
                                <option>Opción 2</option>
                                <option>Opción 3</option>
                                <option>Opción 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3 col-attach">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01"><img src="../assets/img/icon-attachment.svg" alt=""></span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="rut" formControlName="rut">
                            <label class="custom-file-label" for="rut">Adjunte su rut*</label>
                        </div>
                    </div>
                    <div class="col col-terms">
                        <input type="checkbox" class="form-check-input" id="terms" formControlName="terms">
                        <label class="form-check-label" for="terms">Acepto los términos y condiciones</label>
                        <small id="emailHelp" class="form-text text-muted"><a href="#" class="white-link white-link--border">Ver Términos y Condiciones.</a></small>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block bgGreen">Registrarme</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
