<div class="spinner" *ngIf="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div class="row" *ngIf="!spinner">
    <div class="col-md-11">
        <form>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <h3>Mis datos</h3>
                    <span>Aquí podrás cambiar tus datos básicos. Recuerda, nunca compartiremos esta información ;)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" value="{{ user.name }}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="nit">NIT</label>
                        <input type="text" class="form-control" id="nit" value="{{ user.nit }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-5">
                    <button type="submit" class="btn bgGreen">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>
