<div class="row">
    <div class="col-md-11">
        <form>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <h3>Mis datos</h3>
                    <span>Aquí podrás cambiar tus datos básicos. Recuerda, nunca compartiremos esta información ;)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="nit">NIT</label>
                        <input type="text" class="form-control" id="nit">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Clave</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-5">
                    <button type="submit" class="btn bgGreen">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>
