<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <h3>Cambia tu contraseña</h3>
                    <span>Recuerda no compartir tu contraseña, en caso de que quieras cambiarla puedes hacerlo aquí.</span>
                </div>
                <div class="col-md-12 mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="password">Clave actual</label>
                                <input type="text" class="form-control" id="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="newpassword">Nueva contraseña</label>
                                <input type="text" class="form-control" id="newpassword">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="repeatpassword">Confirmar contraseña</label>
                                <input type="text" class="form-control" id="repeatpassword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn bgGreen">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>
